.myinformationsPage {
    padding: 1rem;
}

/* .myinformationsPage .content {
    padding: 2.5rem 0;
    background-color: aliceblue;
    border: 1px solid #323642;
    text-align: center;
    color: white;
} */

.myinformationsPage .btn {

    background-color: #FFA042;
    color: white;

}

.myinformationsPage input {

    background-color: #eeeeee;
    color: #2c2c34;
    border: 1px solid #ccc;
}

[data-status="on"]{
    background-color: #00babc;
}

[data-status="off"]{
    background-color: white;
}

.switch {
    border: 2px solid #ccc;
    position: relative;
    width: 15%;
    height: 2.5rem;
    border-radius: 100px;
    transition: all .2s;
    cursor: pointer;
}

[data-status="off"]::before{
    content: "";
    position: absolute;
    height: 2.3rem;
    width:  2.3rem;
    top: 50%;
    left: 22%;
    background-color: #00babc;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
}

[data-status="on"]::before{
    content: "";
    position: absolute;
    height: 2.3rem;
    width:  2.3rem;

    top: 50%;
    left: 78%;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;

}

.switchToggled{
    content: "";
    position: absolute;
    height: 2.3rem;
    width:  2.3rem;
    top: 50%;
    left: 22%;
    background-color: #00babc;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.shield {
    height: 15rem;
    position: relative;
}

.shieldPath {
    stroke: #ccc;
    stroke-width: 2;
    fill: black;
}

.shield::after{
    content: "";
}

.shield path {
    fill: white;
}

.fillGreen {
    fill: #00babc !important;
}

ul.friends_group .list-group-item{
    background-color: white;
    border-color: #007d7f;
    color: #00babc;
    margin-bottom: 10px;
    border: 1px solid;
}

.type-intra-green, .type-intra-white{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.type-intra-green{
    color: #fff;
    background-color: #00babc;
    border-color: #00babc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.type-intra-green:hover {
    color: #fff;
    background-color: #008889;
    border-color: #007d7f;
}

.type-intra-white{
    background-color: white;
    border-color: #007d7f;
    color: #00babc;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
}

.type-intra-white:hover{
    color: #5b5b60;
    border: 1px solid #5b5b60;
}

/* in myinformations.html */
.title-personal-info{
    color: #2c2c34;
    font-family: "futura-pt", "Helvetica", "Sans serif";
    font-weight: bold;
}