[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bcrypt = "*"
pyjwt = "*"
django-environ = "*"
python-dotenv = "*"
pillow = "*"

[dev-packages]
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.10"
