[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bcrypt = "*"
pyjwt = "*"
django-environ = "*"
python-dotenv = "*"
//channels is for websockets in django, daphne is like a ASGI server to be able to use async connection.
channels = "*" 
daphne = "*"

[dev-packages]
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.10"
