* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;

    padding-top: 1rem;

    top: 0;
    left: 0;

    height: 100vh;

    width: 80px;
    background-color: #292D39;

    gap: 2rem;

}

.navElement {
    /* padding: 15px; */
    height: 3rem;
    width: 3rem;
}

.navElement:not(:first-child) {
    padding: 8px;
}

.navElement svg {
    height: 100%;
    width: 100%;
}

svg path {
    fill: #6a6a6a;
    transition: fill .2s;
}

svg:hover path {
    fill: white;
}

.searchBar {
    padding: 0 2rem;
    height: 70px;
    margin-left: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.searchBar input {
    color: #757575;
    background-color: #ffffff;
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

/* .searchBar input */

.magnifierIcon {
    height: 32px;
}

main {
    margin-left: 80px;
    width: calc(100% - 80px);
    /* margin-top: 80px; */
    /* background-color: aliceblue; */
    /* background-color: #21252900; */
}


.informationsContainer {
    position: relative;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 30rem; */
}

.informationsContainer > .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 25%; */
}

.informationsContainer h3 {
    color: aliceblue;
    position: absolute;
    left: 5%; /* Moved slightly to the right */
    top: 15%; /* Positioned higher up */
    margin: 0;
    font-size: 3.9rem; /* Increased size */
    z-index: 2; /* Ensure it appears above other elements */
}

.avatar {
    position: absolute;
    left: 5%;
    top: 40%;


    /* height: 150px; */
    /* width: 150px; */
}

.avatar img {
    height: 150px;
    width: 150px;
    object-fit: cover;

    border-radius: 50%;
}

.row {
    justify-content: center;
    align-items: center;
}

.box {
    padding: 5px;
}

.informationsContainer .box {
    color: aliceblue;
    height: 18rem;
    /* min-height: 18rem; */
}

.box .minibox {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: hsla(229, 15%, 14%, .95);
    border-radius: 5px;
    color: aliceblue;
}

.trophee {
    width: 120px;
}


.infos {
    padding-left: 8rem;
}

.progressBarContainer {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progressBarContainer > h6 {
    align-self: flex-start;
}

.progressBar {
    width: 100%;
    height: 1rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: aliceblue;
}

.filler {
    width: 60%;
    height: 100%;
    background-color: #FFA042;
}

.main {
    /* padding: 0 2rem; */
    background: transparent;
    background-color: #F5F5F5;
}

.main .box {
    /* padding-top: 1rem;
    border: 1px solid #2D313C;
    background-color: #1E2028; */

    background-color: #ffffff;
    border: 1px solid #f7f7f7;
    min-height: 23rem;
    border-radius: 5px;
    padding: 20px 25px 25px;
    font-family: 'futura-pt', 'Noto Sans', 'Arial', 'Helvetica', 'Sans serif';
}

.main .box h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #202026;
    font-size: 0.9em;
    margin-bottom: 25px;
}

.main .box h2{
    font-family: "futura-pt", "Helvetica", "Sans serif";
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #2c2c34;
    margin-top: 11px;
    margin-bottom: 11px;
}

.lastPlayer {
    padding: 1rem;
}

.lastPlayerContainer img {
    height: 60px;
    width: 60px;
    border-radius: 50%;

    object-fit: cover;
}

.lastPlayerContainer .names {
    margin-left: 6rem;

}

.lastPlayerContainer .fullName {
    color: #FFA042;
    margin: 0;
}

.lastPlayerContainer .nickname {
    color: #A6ACBC;

    margin-left: .5rem;
}

.lastPlayer:hover {
    background-color: #292D39;
}

.lastGames {
    padding: 1rem;
}

.lastGames .win {
    color: #5CB85B;
}

.lastGames .loss {
    color: #E5292D;
}

.lastGames .nickname {
}

.lastGames .time {
    margin-left: .5rem;
}

.scores {
    font-size: 1.5rem;
    font-weight: bold;
}

.myScore {
    margin-right: 1rem;
    color: #5CB85B;
}

.enemyScore {
    margin-left: 1rem;
    color: #E5292D;
}

.lastGames .dash {
    width: .5rem;
    height: 2px;
    background-color: aliceblue;
}
