{% load static %}

<div class="container-fluid arenaPage" style="background-image: url('{{ arena_picture }}');">
    <div class="row align-items-center py-3 d-flex l_username">
        <div class="col-3 d-flex justify-content-between align-items-center flex-wrap">
            <img id="lpicture" src="{% static 'assets/imgs/chien.jpg' %}" class="picture">
            <div id="lusername" class="username">leny</div>
        </div>

        <div class="col-2 text-center">
            <div id="scoreLeft" class="score">0</div>
        </div>

        <div class="col-2 text-center">
            <div id="scoreRight" class="score">0</div>
        </div>

        <div class="col-3 d-flex justify-content-between align-items-center flex-wrap">
            <div id="rusername" class="username">leny</div>
            <img id="rpicture" src="{% static 'assets/imgs/chien.jpg' %}" class="picture">
        </div>
    </div>
    <div id="timer" class="timer">5</div>
    <div class="row justify-content-center pong-arena">
        <div class="col-auto">
            <canvas id="pongCanvas" width="1000" height="500"></canvas>
        </div>
    </div>
</div>

<script type="module" src="{% static '/js/apps/game/pong.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/pong/arena.css' %}">