{% load static %}

<div class="createTournamentContainer">
    <div class="box">

        <h1 class="text-center">Create a tournament</h1>

        <div class="d-flex roomNameContainer align-items-center justify-content-between mt-4">
            <div>Room name</div>
            <input id="roomName" type="text" placeholder="{{ client.profile.username }}'s room" maxlength="23">
        </div>

        <div class="points text-center mt-2">
            <div>Points to win</div>
            <div class="counter">
                <div class="minus">-</div>
                <div class="score">3</div>
                <div class="plus">+</div>
            </div>
        </div>
        
        <div class="d-flex mt-4 playNum">
            <div>Select number of players</div>
            <div class="d-flex gap-2" id="player-options">
                <input type="radio" id="opt-1" name="tournamentPlayers" checked value="4">
                <div>4</div><br>
                <input type="radio" id="opt-2" name="tournamentPlayers" value="8">
                <div>8</div><br>
                <input type="radio" id="opt-3" name="tournamentPlayers" value="16">
                <div>16</div>
            </div>
        </div>
        

        <div id="create-btn" class="btn createBtn mt-4 type-intra-green">Create Room</div>
        <div id="errDiv" class="text-danger mt-2"></div>

        <!-- data-route="/pong/tournament/" -->
    </div>
</div>

<script type="module" src="{% static '/js/tournaments/createTournament.js' %}"></script>