{% load static %}

<div class="createTournamentContainer">
    <div class="box">

        <h1 class="text-center">Create a tournament</h1>

        <div class="d-flex roomNameContainer align-items-center justify-content-between mt-4">
            <label for="roomName">Room name</label>
            <input id="roomName" type="text" placeholder="minimeow's room">
        </div>

        <div class="points text-center mt-2">
            <div>Points to win</div>
            <div class="counter">
                <div class="minus">-</div>
                <div class="score">1</div>
                <div class="plus">+</div>
            </div>
        </div>

        <div class="d-flex roomPrivateContainer align-items-center mt-2">
            <label for="roomName">Private room</label>
            <input id="isPrivate" type="checkbox" checked>
        </div>

        <div class="d-flex mt-4 playNum">
            <div>Select number of players</div>
            <div class="d-flex gap-2" id="player-options">
                <input type="radio" id="opt-1" name="tournamentPlayers"  value="4">
                <label for="opt-1">4</label><br>
                <input type="radio" id="opt-2" name="tournamentPlayers" checked value="8">
                <label for="opt-2">8</label><br>
                <input type="radio" id="opt-3" name="tournamentPlayers" value="16">
                <label for="opt-3">16</label>
            </div>
        </div>
        

        <div id="create-btn" class="btn createBtn mt-4">Create Room</div>
        <div id="errDiv" class="mt-2"></div>

        <!-- data-route="/pong/tournament/" -->
    </div>

    <script>    
        let minus = document.querySelector(".minus")
        let plus = document.querySelector(".plus")
        

        function decrease(){
            let score = document.querySelector(".score")
            val = parseInt(score.innerHTML)
            if (val > 1)
                score.innerHTML = --val
        }

        function increase(){
            let score = document.querySelector(".score")
            val = parseInt(score.innerHTML)
            score.innerHTML = ++val
        }

        minus.addEventListener("click", decrease)
        plus.addEventListener("click", increase)
    </script>
</div>

<script type="module" src="{% static '/js/tournaments/createTournament.js' %}"></script>