{% load static %}
<div class="joinTournamentContainer">
    <div class="container">
        <h1 class="text-center mt-5">Create tournament lobby</h1>
        <div class="gamemodeCardContainer" data-route="/pong/tournament/create/">
            <div class="d-flex flex-column align-items-center justify-content-center gamemodeCard  front">
                <h2>Tournament</h2>
                <img src="/static/assets/imgs/diamond.png" alt="">
            </div>
        </div> 
        <h1 class="text-center mt-5">Join a room</h1>
        <div id="tournaments" class="row row-cols-3 d-flex justify-content-start roomsContainer">
          <!-- {% for room in rooms %}
            
          {% endfor %} -->
        </div>
      </div>
</div>

<script type="module" src="{% static '/js/tournaments/joinTournament.js' %}"></script>
