<div class="joinTournamentContainer">
    <div class="container">
        <h1 class="text-center mt-5">Join a room</h1>
        <div class="row row-cols-3 d-flex justify-content-start roomsContainer">
          {% for room in rooms %}
            <div class="col room d-flex justify-content-center align-items-center">
                <div class="cardContainer">
                    <div class="front d-flex align-items-center justify-content-center border">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img class="roomAvatar" src='/static{{room.leaderAvatar}}' alt="">
                            <div class="p-3 text-center">{{ room.name }}</div>
                        </div>
                        <div class="p-3 text-center players">{{ room.players }} / 8</div>
                    </div>
                    <div class="back d-flex justify-content-center align-items-center">
                        <div class="btn joinBtn">Join Game</div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
</div>
