<div class="joinTournamentContainer">
    <div class="container">
        <h1 class="text-center mt-5">Create tournament lobby</h1>
        <div class="gamemodeCardContainer" data-route="/pong/tournament/create/">
            <div class="d-flex flex-column align-items-center justify-content-center gamemodeCard  front">
                <h2>Tournament</h2>
                <img src="/static/assets/imgs/diamond.png" alt="">
            </div>
        </div> 
        <h1 class="text-center mt-5">Join a room</h1>
        <div class="row row-cols-3 d-flex justify-content-start roomsContainer">
          {% for room in rooms %}
            <div class="col room d-flex justify-content-center align-items-center">
                <div class="cardContainer">
                    <h4>Minimeow'w tournament</h4>

                    
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="btn joinBtn">join</div>
                        <div class="avatarsContainer mt-2">
                            <img src="/static/img/img.png" alt="">
                            <img src="/static/img/img.png" alt="">
                            <img src="/static/img/img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
</div>
