{% load static %}
<div class="matchmakingPage">
    <div id="clientID" data-client-id="{{ client.id }}"></div>
    <div class="matchmakingContainer d-flex container-fluid flex-column align-items-center justify-content-between ">
        <h1>Searching for an oponent</h1>
        <div id="gameStatus">Finding you an honorable opponent</div>
        <div class="content">
            <div class="player_one paddle"></div>
            <div class="player_two paddle"></div>
            <div class="ball"></div>
        </div>
        <div class="btn" onclick="leftQueue()">Cancel</div>
    </div>
</div>


<script type="module" src="{% static '/js/apps/game/matchmaking.js' %}"></script>

<!-- /home/tfreydie/projects/transcendence/static/js/apps/game/matchmaking.js -->
