<div class="pongbotContainer">
    <div class="box">
        <h1 class="text-center">Play against A.I</h1>
        <div class="levelSelection text-center mt-5">
            <div>Select your level</div>
            <form class="levels">
                <input type="radio" id="easy" name="lvl" value="easy" />
                <label for="easy">easy</label>
            
                <input type="radio" id="medium" name="lvl" value="medium" />
                <label for="medium">medium</label>
            
                <input type="radio" id="hard" name="lvl" value="hard" />
                <label for="hard">hard</label>
            </form>
        </div>

        <div class="points text-center mt-4">
            <div>Points to win</div>
            <div class="counter">
                <div class="minus">-</div>
                <div class="score">1</div>
                <div class="plus">+</div>
            </div>
        </div>

        <div class="btn startBtn mt-4">Start Game</div>
    </div>

    <script>    
        let minus = document.querySelector(".minus")
        let plus = document.querySelector(".plus")
        

        function decrease(){
            let score = document.querySelector(".score")
            val = parseInt(score.innerHTML)
            if (val > 1)
                score.innerHTML = --val
        }

        function increase(){
            let score = document.querySelector(".score")
            val = parseInt(score.innerHTML)
            score.innerHTML = ++val
        }

        minus.addEventListener("click", decrease)
        plus.addEventListener("click", increase)
    </script>
</div>