
<style>

    .treePage .slot {
        width: 30rem;
    }

</style>
<div class="treePage">
    <h1 class="text-center"> xxxxxxxxxx's tournament</h1>
    <div class="container mt-5">
        <div class="d-flex justify-content-center gap-5">
        
            <!-- Quarterfinals -->
            <div class="d-flex flex-column justify-content-around" style="height: 500px;">
            <div class="mb-5">
                <div class="bg-light border text-center p-2 d-flex flex-row justify-content-between slot">
                    <div>Player 1</div>
                    <div class="score">0</div>
                    <div class="tag">playing</div>
                </div>
                <div class="bg-light border text-center p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>Player 2</div>
                    <div class="score">0</div>
                    <div class="tag">playing</div>
                </div>
            </div>
            <div class="mb-5">
                <div class="bg-light border text-center p-2 d-flex flex-row justify-content-between slot">
                    <div>Player 3</div>
                    <div class="score">0</div>
                    <div class="tag">played</div>
                </div>
                <div class="bg-light border text-center p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>Player 4</div>
                    <div class="score">0</div>
                    <div class="tag">playing</div>
                </div>
            </div>
            <div class="mb-5">
                <div class="bg-light border text-center p-2 d-flex flex-row justify-content-between slot">
                    <div>Player 5</div>
                    <div class="score">0</div>
                    <div class="tag">playing</div>
                </div>
                <div class="bg-light border text-center p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>Player 6</div>
                    <div class="score">0</div>
                    <div class="tag">played</div>
                </div>
            </div>
            <div>
                <div class="bg-light border text-center p-2 d-flex flex-row justify-content-between slot">
                    <div>Player 7</div>
                    <div class="score">0</div>
                    <div class="tag">played</div>
                </div>
                <div class="bg-light border text-center p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>Player 8</div>
                    <div class="score">0</div>
                    <div class="tag">playing</div>
                </div>
            </div>
            </div>
        
            <!-- Semifinals -->
            <div class="d-flex flex-column justify-content-around" style="height: 500px;">
            <div class="mt-5 mb-5">
                <div class="bg-secondary text-white text-center border p-2 d-flex flex-row justify-content-between slot">
                    <div>winner 1</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
                <div class="bg-secondary text-white text-center border p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>winner 2</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
            </div>
            <div>
                <div class="bg-secondary text-white text-center border p-2 d-flex flex-row justify-content-between slot">
                    <div>winner 3</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
                <div class="bg-secondary text-white text-center border p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>winner 4</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
            </div>
            </div>
        
            <!-- Final -->
            <div class="d-flex flex-column justify-content-center" style="height: 500px;">
            <div>
                <div class="bg-dark text-white text-center border p-2 d-flex flex-row justify-content-between slot">
                    <div>finalist 1</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
                <div class="bg-dark text-white text-center border p-2 d-flex mt-1 flex-row justify-content-between slot">
                    <div>finalist 2</div>
                    <div class="score">0</div>
                    <div class="tag">not played</div>
                </div>
            </div>
            </div>
        
        </div>
    </div> 
</div>