{% load static %}

<style>

    .treePage {

    }

    .treePage .round {
        width: 50%;
        background-color: white;
        border: rgb(228, 228, 228) 1px solid;
        border-radius: 20px;
        padding: 20px;
    }

    .treePage .players {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 100px;
    }

    .treePage .players .left, .treePage .players .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .treePage .players img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .treePage .players td {
        display: flex;
    }

    .treePage th {
        vertical-align: middle;
        text-align: center;
    }

    .treePage td {
        vertical-align: middle;
        text-align: center;
        padding: 25px;
    }

    .treePage .winner {
        color: green;
    }

    .treePage .loser {
        color: red;
    }

</style>

<div id="tree" class="treePage d-flex flex-column justify-content-center align-items-center">

    

</div>


<script>

</script>
<script type="module" src="{% static '/js/tournaments/treeTournament.js' %}"></script>
