{% load static %}

{% csrf_token %}
<div class="container-fluid main mt-4">
    <div class="row row-information g-4 align-items-start justify-content-start">
        <div class="col-6 col-md-6">
            <div class="box box-top d-flex flex-column align-items-start">
                <h4>Personal informations</h4>
                <label for="currusername" class="control-label string optional disabled" >Name</label>
                <input class="form-control string optional disabled" disabled="disabled" 
                    type="text" value={{ client.profile.username }} name="user[first_name]" 
                    id="currusername">
                <label for="curremail" class="control-label string optional disabled">Email</label>
                <input class="form-control string optional disabled" disabled="disabled" 
                    type="text" value={{ client.profile.email }} name="user[first_name]" 
                    id="curremail">
                <div class="w-100 p-3 d-flex justify-content-around flex-wrap">
                    <div class="type-intra-green mt-4" id="logout-btn">Log out</div>
                    <div class="type-intra-green mt-4" id="delete-btn">Delete your account</div>
                </div>
                <input type="file" id="file_input" style="display: none;"/>
                {% if isAdmin %}
                    <div class="align-self-center type-intra-green mt-4" data-route="/admin/monitoring/">Monitoring</div>
                {%endif%}
            </div>
        </div>
        <div class="col-6 col-md-6">
            <div class="box box-top">
                <div class="content d-flex flex-column justify-content-center align-items-center">
                    <h4 class="align-self-start">Enable 2-FA</h4>
                    <svg class="shield" viewBox="0 0 94 125" xmlns="http://www.w3.org/2000/svg">
                        <path class="shieldPath {% if twoFaEnable %}fillGreen{% endif %}" d="M46.009 0.27625L14.5877 9.02375V11.0687C14.5877 22.0438 7.9441 17.275 1.98196 19.4575L0.00250072 20.1838L0 22.0438V67.92C0 83.7687 7.92035 98.5875 22.902 110.772C34.1035 119.884 45.195 124.29 45.6626 124.474L47.0006 125L48.3386 124.475C48.805 124.293 59.8953 119.885 71.0993 110.774C86.0809 98.5888 94 83.7688 94 67.9212V20.1863L92.018 19.4587C86.0547 17.275 79.4123 22.0438 79.4123 11.07V9.02375L47.0006 0L46.009 0.27625Z "/>
                    </svg>
                    {% if twoFaEnable %}
                        <div class="switch mt-3 fillGreen" data-status="on" onclick="switchToggle(this)"></div>
                    {% else %}
                        <div class="switch mt-3" data-status="off" onclick="switchToggle(this)"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        <div class="row row-information g-4 align-items-start justify-content-start">
            <div class="col-6 col-md-6">
                <div class="box box-bottom">
                    <h4>Current picture</h4>
                    <div class=" d-flex flex-column align-items-center justify-content-center inputs">
                        <div id="upload-feedback"></div>
                        <img src="{{ client.profile.profile_picture.url }}" id="profile_picture">
                        <div class="type-intra-green mt-4" id="upload-img-btn">Upload new profile picture</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="box box-bottom">
                    <h4>Update Personal informations</h4>
                    <form id="register-form" method="PUT" action="{% url 'update' %}" enctype="multipart/form-data">
                        <div id="error-message" style="color: red;"></div>
                        <div>
                            <label for="username" class="control-label username optional">Username</label>
                            <input class="form-control string optional" id="username" name="username" type="text" placeholder={{client.profile.username}} required>
                        </div>
                        <div>
                            <label for="email" class="control-label email optional">Email</label>
                            <input class="form-control string optional" id="email" type="email" name="email" placeholder={{client.profile.email}} required>
                        </div>
                        <div>
                            <label for="password" class="control-label password optional">Password</label>
                            <input class="form-control string optional" id="password" type="password" name="password" required>
                        </div>
                        <div>
                            <label for="password_check" class="control-label email optional">Verify password</label>
                            <input class="form-control string optional" id="password_check" type="password" name="password_check" required>
                        </div>
                        <div class="type-intra-green mt-4" id="update-btn">Update informations</div>
                    </form>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="twoFactorModal" tabindex="-1" aria-labelledby="twoFactorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex">
            <div class="modal-header">
                <h5 class="modal-title" id="twoFactorModalLabel">Two FA Authentification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="align-self-center">
                <img class="twofa-image" src="${image}" alt="2FA QR Code">
            </div>
            <div class="align-self-center">
                <form onsubmit="event.preventDefault(); validateCode();" id="twoFactorForm" class="d-flex flex-column align-items-center">
                    <input class="twofa-input"
                        type="text"
                        id="authCode"
                        maxlength="6"
                        placeholder="Enter 6-digit code"
                        pattern="[0-9]{6}"
                        required>
                    <br>
                    <button class="type-intra-green verify-code" type="submit" id="verifyCodeBtn">Verify Code</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static 'js/apps/auth/logout.js' %}"></script>
<script type="module" src="{% static 'js/apps/auth/delete.js' %}"></script>
<script type="module" src="{% static 'js/apps/auth/upload_img.js' %}"></script>
<script type="module" src="{% static 'js/apps/auth/update_infos.js' %}"></script>
<script type="module" src="{% static 'js/apps/profile/myinformations.js' %}"></script>