{% load static %}

<div class="informationsContainer">
    <img class="background" src="{% static 'assets/imgs/fire_coalition.jpg' %}">

    <h3>{{ client.profile.username }}</h3>

    <div class="avatar">
        
        <img  src="{% static 'assets/imgs/' %}{{ client.profile.profile_picture }}">
    </div>
    <div class="container infos">
        <div class="row">
            <div class="col-md-4 winrate box">
                <div class="p-3 text-center minibox">
                    <h2>winrate</h2>
                    <div class="progressBarContainer">
                        <!-- <div class="progressBar">
                            <div class="filler"></div>
                        </div> -->
                        <div class="progress-circle animated" style="--angle: {{ winrate_angle }}deg;">
                            <div class="progress-content">
                                <div>{{ winrate }}%</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 currentActivity box">
                <div class="p-3 text-center minibox">
                    <h2>Unavailable</h2>
                </div>
            </div>
            <div class="col-md-4 mmr box">
                <div class="p-3 text-center minibox">
                    <h2 class="p-3 text-center">Rank</h2>
                    <img class="trophee" src="{% static "assets/imgs/bronze.png" %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main mt-4">
    <div class="row g-4 align-items-start justify-content-start">
        <div class="col-6 col-md-6">
            <div class="box">
                <h4>Biggest rivals</h4>
                <div class="lastPlayerContainer mt-4">
                    {% for rival in rivals %}
                        <div class="lastPlayer container d-flex flex-row align-items-center justify-content-center"
                             data-route="/profile/?username={{ rival.username }}">
                            <!-- <img src="{% static 'assets/imgs/' %}{{ rival.profile_picture }}" alt="{{rival.profile_picture}}"> -->
                            <span class="names d-flex flex-row align-items-end justify-content-center">
                                <h4 class="fullName">{{ rival.username }}</h4>
                                <small class="mx-2">(Wins: {{ rival.games_won }}, Losses: {{ rival.games_lost }})</small>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-6 col-md-6">
            <div class="box">
                <h4>Games history</h4>
                <div class="lastGamesContainer">
                    {% for game in gamesHistory %}
                        <div class="lastGames container d-flex flex-row align-items-center justify-content-between">
                            <span class="names d-flex flex-row justify-content-center">
                                <div class="nickname {% if game.won %}win{% else %} loss {% endif %}">{{ game.opponent }}</div>
                                <div class="time">A day ago</div>
                            </span>
                            <span class="scores d-flex flex-row justify-content-center align-items-center">
                                <div class="myScore">{{ game.myPoints }}</div>
                                <div class="dash"></div>
                                <div class="enemyScore">{{ game.enemyPoints }}</div>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0 g-4 align-items-start justify-content-start">
        <div class="col-6 col-md-6">
            <div class="box">
                <h4>Friends List</h4>
                <ul class="friends_group list-group">
                    {% if show_friend_request %}
                        <button type="button" class="type-intra-green friendrequest" onclick="handleAskFriend(new URLSearchParams(window.location.search).get('username'))">Friend Request</button>
                    {%endif%}
                    {% comment %} get all the friends from js {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-6">
            <div class="box">
                <h4>Friends Pending</h4>
                <div class="lastGamesContainer">
                    <ul class="pending_group list-group">
                        {% comment %} get all the pending friends from js {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static '/js/apps/profile/profile.js' %}" defer></script>