.arenaPage {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.arenaPage #overlay {
    background-color: #171717;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}



/* .arenaPage #overlay {
    color: #ececec;
}

.arenaPage #overlay .btns .btn {
    background-color: #ececec;
    padding: 2rem 5rem;
} */

.arenaPage #pongCanvas {
    border: 1px white solid;
}

.arenaPage .username {
    font-size: 3rem;
    color: white;
}

.arenaPage  .l_username{
    background-color: hsla(229, 15%, 14%, .95);
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 12vh;
}

.arenaPage .score {
    font-size: 3rem;
    color: white;
}

.arenaPage .picture{
    width:70px;
    height:70px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.arenaPage img {
    object-fit: cover;
}


.arenaPage .timer {
    position: absolute;
    top: calc(50% + 0px);
    left: calc(50% + 0px);
    font-size: 5rem;
    color: white;

    transform: translate(-50%, -50%);
}