{% load static %}

<div class="loginPage" style="background-image: url('{% static 'assets/imgs/loginBackground.jpg' %}');">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        {% comment %} <img class="bgrImg" src="{% static 'assets/imgs/42_logo.svg' %}" alt=""> {% endcomment %}
        <img class="logo-tran d-flex alig" src="{% static 'assets/imgs/42_logo_tran.svg' %}" alt="">
        <form class="d-flex flex-column" id="register-form" enctype="multipart/form-data" action="{% url 'login' %}">
            <div id="error-message" style="color: red;"></div>
            {% csrf_token %}
            <input class="p-3" type="email" id="email" name="email" placeholder="Enter your email" required>
            <input class="mt-4 p-3" type="password" id="password" name="password"
                   placeholder="Enter your password" required>

            <button class="p-3 mt-5 btn" id="login-btn" type="submit">Login</button>
            <div data-route="/auth/register" class="mt-2 registerBtn text-center">Sign up</div>
            <div class="mt-5 text-center">OR</div>


            <div class="container mt-5">
                <div class="row">
                  <div class="col p-0">
                    <div id="auth42" class="btn btn-primary myBtn ibtn p-3" >Intra42</div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="module" src="{% static '/js/apps/auth/login.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/auth/login.css' %}">