

{% load static %}


<style>
    .registerPage {
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        /* background-image: ; */
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        overflow-y: auto;
    }


    .registerPage .container {
        max-width: 42rem;
        height: 100%;

    }

    .registerPage form {
        position: relative;
        flex-direction: column;
        display: flex;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .registerPage form .myBtn {
        border: none;
        background-color: transparent;
    }

    .registerPage form .gbtn {
        background-color: #DB4437;
        border: 2px solid #d03f32;

    }

    .registerPage form .ibtn {
        border: 2px solid #06a1a1;

        background-color: #00BABB;
    }

    .registerPage img {
        position: relative;


        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 350px;

    }

    .registerPage form button {
        background-color: #00BABB;
        border: none;
        color: white;
    }

    .registerPage form input {
        border: #00BABB solid 2px;
        border-radius: 2px;
        background-color: rgba(44, 44, 44, 0.383);
        color: white;

    }

    .registerBtn:hover {
        cursor: pointer
    }

    .registerPage .registerBtn {
        text-decoration: underline;
    }

    .registerPage .myBtn {
        width: 100%;
    }

</style>

<div class="registerPage" style="background-image: url('{% static 'assets/imgs/loginBackground.jpg' %}');">
    <div class="container">
        <img class="bgrImg" src="{% static 'assets/imgs/42_logo_tran.png' %}" alt="">
        <form id="register-form" method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
            <div id="error-message" style="color: red;"></div>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <!-- <input  type="email" id="email" name="email" placeholder="Entrez votre e-mail" required> -->
                    <input class="p-3 container-fluid" type="text" id="username" name="username"
                           placeholder="Enter a username" maxlength="12" required>
                </div>
                <div class="col">
                    <input class="p-3 container-fluid" type="email" id="email" name="email"
                           placeholder="Enter your e-mail" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="p-3 container-fluid mt-3" type="password" id="password" name="password"
                           placeholder="Enter your password" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="p-3 container-fluid mt-3" type="password" id="password_check" name="password_check"
                           placeholder="Verify your password" required>
                </div>
            </div>

            <button id="register-btn" class="p-3 mt-5 btn" type="submit">Register</button>
            <div data-route="/auth/login" class="mt-2 registerBtn text-center">I already have an account</div>

            <!-- </div> -->
        </form>
    </div>
</div>
<script type="module" src="{% static 'js/apps/auth/register.js' %}"></script>

