

{% load static %}


<style>
    .registerPage {
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        /* background-image: ; */
        width: 100vw;
        height: 100vh;
    }


    .registerPage .container{
        max-width: 42rem;
        height: 100%;

    }

    .registerPage form{
        position: relative;
        flex-direction: column;
        display: flex;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .registerPage form .myBtn{
        border: none;
        background-color: transparent;
    }
    .registerPage form .gbtn{
        background-color: #DB4437;
        border: 2px solid #d03f32;

    }

    .registerPage form .ibtn{
        border: 2px solid #06a1a1;
        
        background-color: #00BABB;
    }

    .registerPage img{
        position: relative;


        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 142px;
        height: 142px;

    }

    .registerPage form button{
        background-color: #00BABB;
        border: none;
        color: white;
    }

    .registerPage form input{
        border: #00BABB solid 2px;
        border-radius: 2px;
        background-color: rgba(44, 44, 44, 0.383);
        color: white;

    }


    .registerPage .registerBtn {
        text-decoration: underline;
    }

    .registerPage .myBtn{
        width: 100%;
    }

</style>

<div class="registerPage" style="background-image: url('{% static 'assets/imgs/loginBackground.jpg' %}');">
    <div class="container">
        <img class="bgrImg" src="{% static 'assets/imgs/42_logo.svg' %}" alt="">
        <form id="register-form" method="POST"  action="{% url 'register' %}" enctype="multipart/form-data">
            <div id="error-message" style="color: red;"></div>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <!-- <input  type="email" id="email" name="email" placeholder="Entrez votre e-mail" required> -->
                    <input class="p-3 container-fluid" type="text" id="username" name="username" placeholder="Entrez votre pseudo" required>
                </div>
                <div class="col">
                    <input class="p-3 container-fluid" type="email" id="email" name="email" placeholder="Entrez votre e-mail" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="p-3 container-fluid mt-3" type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="p-3 container-fluid mt-3" type="password" id="password_check" name="password_check" placeholder="Verifiez votre mot de passe" required>
                </div>
            </div>
    
            <button class="p-3 mt-5 btn" id="login-btn" type="submit">Se connecter</button>
            <div data-route="/auth/login" class="mt-2 registerBtn text-center">J'ai deja un compte</div>
            <div class="mt-5 text-center">OR</div>

            <!-- <div class="container mt-5"> -->
            <div class="row">
                <div class="col p-1">
                <div class="btn btn-primary myBtn gbtn p-3">Google</div>
                </div>
                <div class="col p-0">
                <div class="btn btn-primary myBtn ibtn p-3">Intra42</div>
                </div>
            </div>
            <!-- </div> -->
        </form>
    </div>
</div>
<script type="module" src="{% static 'js/apps/auth/register.js' %}"></script>

