.loginPage {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    /* background-image: ; */
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto; 
}

.loginPage .container {
    max-width: 42rem;
    height: 100%;
}

.logo-tran{
    width: 350px;
    object-fit: fill;
    margin-bottom: 20px;
}

.loginPage form {
    width: 80%;
}


.loginPage form .myBtn {
    border: none;
    background-color: transparent;
}

.loginPage form .gbtn {
    background-color: #DB4437;
    border: 2px solid #d03f32;

}

.loginPage form .ibtn {
    border: 2px solid #06a1a1;
    background-color: #00BABB;
}

.loginPage form button {
    background-color: #00BABB;
    border: none;
    color: white;
}

.loginPage form input {
    border: #00BABB solid 2px;
    border-radius: 2px;
    background-color: rgba(44, 44, 44, 0.383);
    color: white;

}


.loginPage .registerBtn {
    text-decoration: underline;
}

.registerBtn:hover {
    cursor: pointer
}

.loginPage .myBtn {
    width: 100%;
}