{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
    <h1>Test</h1>
    <!-- <img src="{% static 'img/img.png' %}" alt=""> -->

    <!-- Boutons ajoutés -->
    <div>
        <!-- Bouton pour aller à la page de connexion -->
        <button onclick="window.location.href='{% url 'login' %}'">Login</button>

        <!-- Bouton pour aller à la page d'inscription -->
        <button onclick="window.location.href='{% url 'register' %}'">Register</button>

        <!-- Bouton pour aller à la page de l'account -->
        <button onclick="window.location.href='{% url 'account' %}'">Account</button>

        <!-- Bouton pour aller à la page de l'edit -->
        <button onclick="window.location.href='{% url 'edit' %}'">Edit</button>

        <!-- Bouton pour aller à la page de l'admin -->
        <button onclick="window.location.href='{% url 'admin' %}'">Admin</button>

        <!-- Bouton pour se déconnecter -->
        <form id="logout-form" style="display:inline;">
            <button>Logout</button>
        </form>
    </div>
<!-- Rounded switch -->
    <label class="switch">
        <input type="checkbox" id="toggleSwitch">
        <span class="slider round"></span>
    </label>
    <div>2FA</div>
</body>
<script src="{% static 'js/auth/logout.js' %}"></script>
<script src="{% static 'js/auth/twofa.js' %}"></script>
</html>