
{% load static %}
<div class="arenaPage">

<div id="lnick" class="nickname">ez2c</div>
<div id="rnick" class="nickname">tfreydie</div>
<canvas id="pongCanvas" width="1000" height="500">

</canvas>
</div>
<style>
    .arenaPage{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #pongCanvas{
        border: 1px white solid;
    }
    .nickname {
        position: fixed;
        font-size: 6rem;
        color: #1d212b;

    }
    .nickname:first-of-type {
        top: 52%;
        left: 33%;
        transform: translate(-50%, -50%);

    }
    .nickname:last-of-type {
        top: 52%;
        right: 33%;
        transform: translate(50%, -50%);
    }
</style>

<script type="module" src="{% static '/js/apps/game/pong.js' %}"></script>

