

<div class="arenaPage">
<canvas id="pongCanvas" width="100" height="100"></canvas>
</div>
<script>
    const canvas = document.getElementById("pongCanvas");
    const ctx = canvas.getContext("2d");

    const height = document.documentElement.clientHeight - 70
    const width = document.documentElement.clientWidth - 80


    const ballSize = 15;

    const paddleThickness = 20;
    const paddleHeight = 150;

    canvas.width = width
    canvas.height = height
    
    const drawArena = () =>{
        ctx.fillStyle = "#12141A";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.strokeStyle = "white";
        ctx.beginPath();
        ctx.moveTo(width / 2, 0);  // Start position (x, y)
        ctx.lineTo(width / 2, height); // End position (x, y)
        ctx.lineWidth = 1;
        ctx.stroke();
    }

    const drawPaddle = (x,y) =>{

        ctx.fillStyle =  "white"
        ctx.fillRect(x, y, paddleThickness, paddleHeight); // Start at (50, 50) with width 200px and height 100px
    }

    const drawBall = (x,y) =>{

        ctx.fillStyle =  "white"
        ctx.beginPath();
        ctx.arc(x,y, ballSize, 0, Math.PI * 2); // Center at (150, 100), radius 50, full circle (0 to 2*PI)
        ctx.fill(); // Fill the circle with the specified fillStyle
    }
    

    drawArena();
    drawPaddle(10, height/4);
    drawPaddle(width - paddleThickness - 10, height/6);

    drawBall(0  + width / 2, height / 2)
    // window.addEventListener('resize', resizeCanvas);
    // resizeCanvas();
</script>
