{% load static %}


<header>
    <div style="display: flex; align-items: center; justify-content: center; gap: 15px;">
        <img src="{% static 'assets/gallery/Cats/scaredCat.png' %}" alt="Profile Picture" class="profile-img">
        <h1>Welcome {{ client.profile.username }}</h1>
    </div>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% comment %} TODO REMOVE THE ABOVE FOR JS CHANGE OF CSS {% endcomment %}
</header>


<div class="container">
    <div class="buttons">
        <button type="button" data-route="/pong/">Pong</button>
        <button type="button" data-route="/admin/">Admin</button>
        <button id="logout-btn">Logout</button>
    </div>

    <div class="user-list">
        <h2>List of Users</h2>
        <ul>
            {% for user in clients %}
                <li>{{ user.profile }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="module" src="{% static 'js/apps/auth/logout.js' %}"></script>