body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #d2b48c; /* Wood brown */
}

.container {
    text-align: center;
}

h1 {
    font-size: 80px;
    color: #8b4513; /* Darker brown for contrast */
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.button-container {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.button-container button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

#ready-start-btn {
    background-color: #2176d3; /* Green */
}

#ready-start-btn:hover {
    background-color: #1a5ba2;
}

.canvas-wrapper {
    display: inline-block;
    border: 8px solid #8b4513;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

canvas {
    display: block;
}

.instructions {
    position: absolute;
    font-size: 24px;
    color: #8b4513;
    font-family: 'Arial', sans-serif;
}

.top-left {
    top: 15%;
    left: 40%;
    transform: translate(-130%, -50%);
}

.top-right {
    top: 15%;
    left: 60%;
    transform: translate(30%, -50%);
}